<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto art-vmenu">
                <li id="home" class="nav-item "><a asp-controller="Home" asp-action="Index" class="nav-link">Anasayfa</a></li>
                <li id="about" class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link">Hakkında</a></li>
                <li id="sevice" class="nav-item"><a asp-controller="Home" asp-action="Services" class="nav-link">Hizmetler</a></li>
                <li id="pricing" class="nav-item"><a asp-controller="Pricing" asp-action="Index" class="nav-link">Fiyatlandırma</a></li>
                <li id="car" class="nav-item"><a asp-controller="Car" asp-action="Car" class="nav-link">Arabalar</a></li>
                <li id="blog" class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li id="contac" class="nav-item"><a asp-controller="Contact" asp-action="Index" class="nav-link">İletişim</a></li>

            </ul>
        </div>
    </div>
</nav>


